# Exercise 13

This particular Automobile Data Set includes a good mix of categorical values as well as continuous values and serves as a useful example that is relatively easy to understand. Since domain understanding is an important aspect when deciding how to encode various categorical values - this data set makes a good case study.

Read the data into Pandas

In [1]:
import pandas as pd

# Define the headers since the data does not have any
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

# Read in the CSV file and convert "?" to NaN
df = pd.read_csv("http://mlr.cs.umass.edu/ml/machine-learning-databases/autos/imports-85.data",
                  header=None, names=headers, na_values="?" )
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [2]:
df.shape

(205, 26)

In [3]:
df.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [4]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi

# Exercise 13.1

Does the database contain missing values? If so, replace them using one of the methods explained in class

In [5]:
obj_df.isnull().sum() #se valida la cantidad de missing

make               0
fuel_type          0
aspiration         0
num_doors          2
body_style         0
drive_wheels       0
engine_location    0
engine_type        0
num_cylinders      0
fuel_system        0
dtype: int64

In [6]:
df.isnull().sum()

symboling             0
normalized_losses    41
make                  0
fuel_type             0
aspiration            0
num_doors             2
body_style            0
drive_wheels          0
engine_location       0
wheel_base            0
length                0
width                 0
height                0
curb_weight           0
engine_type           0
num_cylinders         0
engine_size           0
fuel_system           0
bore                  4
stroke                4
compression_ratio     0
horsepower            2
peak_rpm              2
city_mpg              0
highway_mpg           0
price                 4
dtype: int64

In [7]:
df.shape

(205, 26)

In [8]:
df.dropna().shape

(159, 26)

In [9]:
obj_df.shape

(205, 10)

In [10]:
obj_df.dropna().shape

(203, 10)

Se toman los missing y se arreglan con la media de los datos, en este caso el campo normalized_losses esto debido a que se evidencia que si se elimina este campo se estaria quitando el 20% de los datos.

In [11]:
df.normalized_losses.fillna(df.normalized_losses.median(), inplace=True)

In [12]:
df.head(10) #evidenciamos en los datos el arreglo con la media

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,115.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,115.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,115.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
5,2,115.0,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,17710.0
7,1,115.0,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,18920.0
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140.0,5500.0,17,20,23875.0
9,0,115.0,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160.0,5500.0,16,22,NaN

Hacemos lo mismo para los NA de los demas datos numericos.

In [13]:
df.bore.fillna(df.bore.median(), inplace=True)

In [14]:
df.stroke.fillna(df.stroke.median(), inplace=True)

In [15]:
df.horsepower.fillna(df.horsepower.median(), inplace=True)

In [16]:
df.peak_rpm.fillna(df.peak_rpm.median(), inplace=True)

In [17]:
df.price.fillna(df.price.median(), inplace=True)

In [18]:
df.isnull().sum() #se valida que todos los missing de los numericos hallan quedado correctos

symboling            0
normalized_losses    0
make                 0
fuel_type            0
aspiration           0
num_doors            2
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_cylinders        0
engine_size          0
fuel_system          0
bore                 0
stroke               0
compression_ratio    0
horsepower           0
peak_rpm             0
city_mpg             0
highway_mpg          0
price                0
dtype: int64

In [19]:
numdoors_dummies = pd.get_dummies(df.num_doors, prefix='Doors')

In [20]:
df.head(1)

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,115.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0

# Exercise 13.2

Split the data into training and testing sets

Train a Random Forest Regressor to predict the price of a car not using the nominal features

In [21]:
Num_df = df.select_dtypes(exclude=['object']).copy()
Num_df.head()

,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,115.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,115.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,115.0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

Se generan X y y, teniendo en cuenta unicamente los datos numericos.

In [22]:
X = Num_df.drop('price', axis=1)
y = Num_df.price

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [24]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth=2, random_state=0, n_estimators=100)

In [25]:
regr.fit(X, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [26]:
pd.DataFrame({'feature':X, 'importance':regr.feature_importances_}).sort_values('importance')

                                              feature  importance
1   (n, o, r, m, a, l, i, z, e, d, _, l, o, s, s, ...    0.000000
0                         (s, y, m, b, o, l, i, n, g)    0.000154
12                           (p, e, a, k, _, r, p, m)    0.000578
9                                  (s, t, r, o, k, e)    0.000700
13                           (c, i, t, y, _, m, p, g)    0.000820
5                                  (h, e, i, g, h, t)    0.001172
3                                  (l, e, n, g, t, h)    0.001620
10  (c, o, m, p, r, e, s, s, i, o, n, _, r, a, t, ...    0.002399
2                      (w, h, e, e, l, _, b, a, s, e)    0.005016
8                                        (b, o, r, e)    0.007446
4                                     (w, i, d, t, h)    0.008731
11                     (h, o, r, s, e, p, o, w, e, r)    0.010186
14                  (h, i, g, h, w, a, y, _, m, p, g)    0.048424
6                   (c, u, r, b, _, w, e, i, g, h, t)    0.264710
7                   (e, n, g, i, n, e, _, s, i, z, e)    0.648044

In [27]:
predicted = regr.predict(X_test)

In [28]:
import numpy as np
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted))
print('RMSE:')
print(rmse)

RMSE:
2749.632048799979

# Exercise 13.3

Create dummy variables for the categorical features

Train a Random Forest Regressor and compare

Para convertir las variables categoricas en dummies se usara el metodo Binary Encode

In [29]:
!pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\lenovo\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: statsmodels>=0.6.1 in c:\users\lenovo\anaconda3\lib\site-packages (from category_encoders) (0.9.0)
Requirement already satisfied: patsy>=0.4.1 in c:\users\lenovo\anaconda3\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scikit-learn>=0.17.1 in c:\users\lenovo\anaconda3\lib\site-packages (from category_encoders) (0.20.1)
Requirement already satisfied: numpy>=1.11.1 in c:\users\lenovo\anaconda3\lib\site-packages (from category_encoders) (1.15.4)
Requirement already satisfied: scipy>=0.17.0 in c:\users\lenovo\anaconda3\lib\site-packages (from category_encoders) (1.1.0)
Requirement already satisfied: pandas>=0.20.1 in c:\users\lenovo\anaconda3\lib\site-packages (from category_encoders) (0.23.4)
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.20.1->category_encoders) (2.7.5)
Requirement already satisfied: pytz>=2011k in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.20.1->category_encoders) (2018.7)

In [30]:
import category_encoders as ce #
X_ = ce.BinaryEncoder().fit_transform(df.drop(['price'], axis=1))

In [31]:
X_.head()

,make_0,make_1,make_2,make_3,make_4,make_5,fuel_type_0,fuel_type_1,aspiration_0,aspiration_1,...,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg
0,0,0,0,0,0,1,0,1,0,1,...,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27
1,0,0,0,0,0,1,0,1,0,1,...,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27
2,0,0,0,0,0,1,0,1,0,1,...,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26
3,0,0,0,0,1,0,0,1,0,1,...,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30
4,0,0,0,0,1,0,0,1,0,1,...,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22

In [32]:
regr.fit(X_, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_, y, test_size=0.30, random_state=1)

In [34]:
predicted = regr.predict(X_test)

In [35]:
import numpy as np
from sklearn.metrics import mean_squared_error
rmse2 = np.sqrt(mean_squared_error(y_test, predicted))
print('RMSE2:')
print(rmse2)

RMSE2:
2736.4954174773175

# Exercise 13.4

Apply two other methods of categorical encoding

compare the results

In [36]:
X_a = ce.HelmertEncoder().fit_transform(df.drop(['price'], axis=1))
X_b = ce.HashingEncoder(n_components=8).fit_transform(df.drop(['price'], axis=1))

In [37]:
regr.fit(X_a, y)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_a, y, test_size=0.30, random_state=1)
predicted = regr.predict(X_test)
import numpy as np
from sklearn.metrics import mean_squared_error
rmse_a = np.sqrt(mean_squared_error(y_test, predicted))
print('RMSE_a Encode Helmert:')
print(rmse_a)

RMSE_a Encode Helmert:
2740.6971364385754

In [38]:
regr.fit(X_b, y)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_b, y, test_size=0.30, random_state=1)
predicted = regr.predict(X_test)
import numpy as np
from sklearn.metrics import mean_squared_error
rmse_b = np.sqrt(mean_squared_error(y_test, predicted))
print('RMSE_b Encode Hashing:')
print(rmse_b)

RMSE_b Encode Hashing:
2750.4129317984243

In [39]:
print('RMSE Numericas:',rmse,'RMSE Binary:',rmse2,'RMSE Helmert:',rmse_a,'RMSE Hashing:', rmse_b)

RMSE Numericas: 2749.632048799979 RMSE Binary: 2736.4954174773175 RMSE Helmert: 2740.6971364385754 RMSE Hashing: 2750.4129317984243

En el ejercicio evidenciamos que el menor RMSE fue generado con la codificacion Binaria para las categoricas.